<div class="container" >
<h4 style="font-family: cursive; text-align: center; margin-top: 50px; color: white;">INTEREST CALCULATOR</h4>
<div class="container mt-5" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <form #ref="ngForm" (ngSubmit)="onSubmit(ref)">
        <label for="d1" class="form-label" style="color: white;" >ENTER DATE:</label>
        <input type="date" id="d1" class="form-control" name="date1" ngModel placeholder="Enter date">
        <label for="am" class="form-label mt-3" style="color: white;">ENTER AMOUNT:</label>
        <input type="number" id="am" class="form-control " name="amount" ngModel placeholder="Enter amount">
        <button class="btn btn-success mt-3" style=" margin: auto; display: block;" >Calculate</button>
    </form>
    <br><br>
    <div *ngIf = st>
        <table class="table">
            <thead>
              <tr>
                <th scope="col" >Months:</th>
                <th scope="col" >Principle-Amount:</th>
                <th scope="col">Interest:</th>
                <th scope="col" >Total-Amount:</th>
                
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td >{{newcount}}</td>
                <td >{{count}}</td>
                <td >{{int}}</td>
                <td >{{amt}}</td>
              
              </tr>
              
            </tbody>
          </table>
    </div>
 
</div>
</div>




